.square {
    border-radius: 0px;
}

.jumbotron {
    background-image: linear-gradient(to right, #007bff, #000);
    color:#fff;
    /* Increase the height in px*/
    height: 150px;
    /* Alinea verticalmente el texto*/
    
    

}